<div class="list-form-wrapper">
<%= form_for @list do |f| %>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <div><%= f.label :name %></div>
        <div><%= f.text_field :name, :required => true, :class => 'form-control' %></div>

        <div class="list-form"><%= f.label :category %></div>
        <div><%= f.select :category, options_for_select([["Movies", "Movies"], ["Actors", "Actors"], ["Directors", "Directors"]], selected: @list.category) %></div>

        <div class="list-form"><%= f.label :private, "Share with:" %></div>
        <div><%= f.select :private, [["Only Me", true],["Everyone", false]] %></div>
      </div>
      <%= f.submit "Save", :class => 'btn btn-secondary minor-top-buffer edit-list-btn' %>
    </div>
  </div>
  <% end %>
</div>
