<div class="movie-show-page">
  <section class="movie-title-block">
    <h1><%= @movie.title %></h1>
    <%= link_to "Edit", edit_movie_path(@movie) if @current_user.present? && @current_user.admin? %>
    <%= link_to "Delete", @movie, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <p id="movie-minor-info">
      <span><%= @movie.classification if @movie.classification.present? %></span>
      <span><%= @duration if @duration.present? %></span>
      <% @movie.genres.each do |genre| %>
        <span><%= link_to genre.name, genre %></span>
      <% end %>
    </p>
  </section>

  <div class="container movie-profile">
    <div class="row justify-content-between">
      <div class="hero-poster col-12 col-md-4">
        <%= image_tag @movie.image, :class => 'feature', :alt => @movie.title if @movie.image.present? %>
      </div>
      <div class="trailer col-12 col-md-8">
        <iframe width="100%" height="450" src=<%= @embed_url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container movie-info">
    <div class='row top-buffer'>
      <div id="overview" class="col-12 col-md-8">
        <h3>Overview</h3>
        <p id="plot" align="justify"><%= @movie.overview %></p>
        <h3>Director</h3>
        <h4><%= link_to @movie.director.name, @movie.director %></h4>
      </div>
      <div class="list col-12 col-md-4">
        <% if @current_user.present? %>
          <h3>Lists this movie is in:</h3>
          <% if @lists_movie_is_in.count == 0 %>
            <p>None</p>
          <% else %>
          <ul>
            <% @lists_movie_is_in.each do |list| %>
              <li><p><%= list.name %></p></li>
            <% end %>
          <% end %>
          </ul>
          <div id="movie-list-modal">
              <%= render :partial => 'modal' %>
          </div>

        <% else %>
          <%= link_to "Sign in to add movie to list", login_path %>
        <% end %>
      </div>
    </div>
  </div>


<h3 class="minor-top-buffer">Main casts</h3>
<div class="board">
  <% @top_five_actors.each do |actor| %>
  <div class="tile">
    <div class="photo">
      <%= link_to image_tag(actor.image, :class => "thumb", :alt => actor.name), actor %>
    </div>
    <div class="photo-name">
      <h5><%= actor.name %></h5>
    </div>
  </div>
  <% end %>
</div>

<% if @movie.director.movies.count > 1 %>
  <h3 class="minor-top-buffer">Other movies by <%= @movie.director.name %></h3>
    <div class="board">
      <% @movie.director.movies.each do |movie| %>
        <% if movie.image.present? && movie.id != @movie.id %>
        <div class="tile">
          <div class="photo">
            <%= link_to image_tag(movie.image, :class => 'thumb', :alt => movie.title), movie  %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
