<%= form_for @director do |f| %>
<div class="col-lg-4 actor-form">
  <div class="form-group top-buffer">
    <div class="input-tag">
      <%= f.label :name %>
    </div>
    <div class="input-field">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-tag">
      <%= f.label :dob, "Date of birth: " %>
    </div>
    <div class="input-field">
      <%= f.date_field :dob, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-tag">
      <%= f.label :pob, "Place of birth: " %>
    </div>
    <div class="input-field">
      <%= f.text_field :pob, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-tag">
      <%= f.label :image %>
    </div>
    <div class="input-field">
      <%= f.url_field :image, :class => 'form-control' %>
    </div>
  </div>
  <div class="submit-button">
    <%= f.submit "Submit", :class=> "btn btn-primary" %>
  </div>
<% end %>
