<h1><%= @director.name %></h1>
  <div class="director-profile">
    <%= image_tag @director.image, :class => 'feature', :alt => @director.name if @director.image.present? %>

    <div clas="director-info">
      <p>Date of birth: <%= @director.dob.strftime '%e %B, %Y' %></p>
      <p>Place of birth: <%= @director.pob %></p>
    </div>

    <div class="movies-by-director">
      <% if @director.movies.present? %>
        <h3>Movies by <%= @director.name %></h3>
        <% @director.movies.each do |movie| %>
            <%= link_to image_tag(movie.image, :class => 'thumb', :alt => movie.title), movie if movie.image.present? %>
        <% end %>
      <% end %>
    </div>
</div>
